#notification .bd {
    zoom: 1;
}
#notification .bd li {
    float: left;
    margin: 5px 0 0 5px;
    background: #fff;
    border: solid 1px #e7e7e7;
    padding: 5px;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
#notification .bd li div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #000;
    opacity: 0.8;
    color: #fff;
}
#notification .bd:after {
    content: "";
    display: block;
    clear: both;
}
